[Unit]
Description=wg-forge bandwidth limit enforcement (every 30 seconds)
Requires=wg-forge-checklimits.service

[Timer]
OnBootSec=30s
OnUnitActiveSec=30s
Unit=wg-forge-checklimits.service

[Install]
WantedBy=timers.target
